body{
    background-color: burlywood;
    padding: 0;
    margin: 0;
}
/*
Cabecera
*/
.cabecera{
    width: 100%;
    text-align: center;
}

h1{
    width: 100%;
    height: 150px;

    /*Permite tener el bloque separado un poco menos de lo predeterminado*/
    margin-top: 0;
    background-color: rgb(197, 122, 76);
}

.titulo{
    width: 200px;
    position: relative;
    top: 5px;
}

.bordeTop, .bordeBot{
    float: center;
}


.bordeBot{
    position: relative;
    bottom: 10px;
}

h3{
    font-family: fantasy;
    text-align: center;

    margin-top: 30px;
}

/*
Contenido 1
*/

.contenidoIntro{
    margin-left: 10%;
    background-color: rgb(197, 122, 76) ;

    width: 500px;
    height: 100px;

    position: absolute;
    
}

.parrafo1{
    margin-left: 10px;
    margin-top: 10px;
}

/*
Contenido 2
*/

.contenido2{
    background-color: rgb(197, 122, 76) ;
    width: 293px;
    height: 385px;

    position: absolute;
    right: 400px;
}

.caratula{
    margin-left: 10px;
    margin-top: 10px;
}

footer{
    position: fixed;
    bottom: 0px;

    width: 100%;

    text-align: center;

    padding: 10px 0;
    background-color: rgb(197, 122, 76) ;
}